# Version control
.git
.gitignore

# Development environment files
.env
.envrc
.envrc.example

# Build artifacts
dist/

# Documentation
docs/
**/*.md
LICENSE

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Development tools
.editorconfig
.nvmrc
Taskfile.yml
.cursor/
.idea/
.vscode/

# Temporary files
*.bak
*.tmp
*.temp
.DS_Store

# Installed packages
node_modules/

# Configuration files
deployment-manifest.yml
e2e-tests-options.yml
