*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

.env

# Ignore the sample Lambda layer
!lib/sample-lambda-layer/nodejs/node_modules/
!lib/sample-lambda-layer/nodejs/node_modules/dummy-nodejs-module/index.js
